.metadata/*
PruebasPreliminaresEnvioCorreosPracticum/.project
PruebasPreliminaresEnvioCorreosPracticum/.settings/org.eclipse.jdt.core.prefs
PruebasPreliminaresEnvioCorreosPracticum/bin/pruebaPreliminar/PruebaPreliminar01.class
/.recommenders/*
*.class
EnvioCorreosPracticum/GII_PRACTICUM_ACORTADO.xls
EnvioCorreosPracticum/bdalumnos.xls
EnvioCorreosPracticum/bdalumnos1.xls
EnvioCorreosPracticum/bdalumnos2.xls
EnvioCorreosPracticum/documentacion.tex
EnvioCorreosPracticum/otrasHojas/GII_PRACTICUM_2017-2018_1º S.xls
EnvioCorreosPracticum/otrasHojas/GII_PRACTICUM_ACORTADO.xls
EnvioCorreosPracticum/otrasHojas/bdalumnos1.xls
EnvioCorreosPracticum/otrasHojas/bdalumnos2.xls
EnvioCorreosPracticum/todo
